/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(20, 20, 20);
    font-family: NetfilxSans, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
