.alert-box-container {
  position: absolute;
  top: 50px;
  right: 0px;
  border: 0.5px solid gray;
  width: 400px;
  padding: 12px;
  background-color: rgba(20, 20, 20, 0.8);
  color: rgba(255, 255, 255, 0.5);
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  max-height: 400px; /* 최대 높이 설정 */
}

.alert-wrapper {
  margin-bottom: 10px; /* 각 항목 간격 추가 */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}

.alert-item {
  display: flex;
  align-items: center;
}

.alert-item img {
  width: 100px;
  height: 100%;
  margin-right: 10px;
  border-radius: 5px;
}

.alert-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.alert-text h1 {
  font-size: 15px;
  font-weight: 400;
}

.alert-text p {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
}
