.video-container {
  position: relative;
  width: calc(228px * 1.6);
  height: calc(128px * 1.6);
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}
.video-container .fade-out {
  animation: fadeOut 0.4s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 내부 정렬 */
.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 썸네일 이미지 */
.video-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 설명 박스 */
.video-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 400;
  background-color: #232323;
  color: #fff;
}

/* 아이콘 그룹 */
.video-icons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-left-icons {
  display: flex;
  gap: 2px;
}

/* 아이콘 크기 */
.video-icon {
  width: 36px;
  height: 36px;
}
