html,
body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-size: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 0 148px;
  margin-top: 20px;
  height: 120px;

  z-index: 10;
}

.header-logo {
  width: 148px;
  height: 40px;
}

.header-wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-dropdown {
  width: 124px;
  height: 32px;
  padding: 0px 26px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  cursor: default;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 32px;
  background-color: red;
  border-style: solid;
  border-width: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition-duration: 0.2s;
}

.btn-login:hover {
  opacity: 0.8;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 0;

  z-index: 1;
}

.main-container::after {
  content: ""; /* 가상 요소 */
  position: absolute;

  inset: 0;

  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.8) 0%
  );

  pointer-events: none; /* 클릭 방해 안 되도록 */

  z-index: 2;
}

.main-image {
  position: relative;

  width: 100%;

  z-index: 0;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;
}

.main-section > p {
  font-size: 56px;
  font-weight: 900;
  text-align: center;

  margin-bottom: 32px;
  padding: 0;
}

.main-section > h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  margin-bottom: 20px;
  padding: 0;
}

.main-section > h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;

  margin: 0;
  padding: 0;
}

.main-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 20px;
}

.main-input-container > input {
  width: 60%;
  height: 56px;
  padding: 0px 16px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  cursor: text;

  font-size: 16px;
  font-weight: 500;
}
.main-input-container > input::placeholder {
  color: gray;
}

.main-input-container > .main-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 56px;
  background-color: red;
  border-style: solid;
  border-width: 0px;
  border-radius: 4px;
  cursor: pointer;

  font-size: 24px;
  font-weight: 500;
}
